@{
    ViewData["Title"] = "Final Mission";
}

<h1>
    The Final Mission
</h1>



<div>
    <p>
        Welcome to the website!
    </p>
</div>

<div>
    <a asp-controller="Home" asp-action="ViewEntertainers">View Entertainer</a>
</div>
