@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>
    The Joel Hilton Film Collection
</h1>

<img src="~/img/joel.jpeg" height="400"/>

<div>
    <p>
        'ello mate! I'm Joel!
    </p>
</div>
